<tr>
  <td>

  </td>
  <td>
    <h4>
      <b>{{cargo}}</b>
    </h4>
    <p>Administracion</p>
  </td>
  <td>
    <img src="View/img/employed/{{imagen}}" class="img-circle" width="100">
  </td>
  <td>
    <h4>
      <b>{{nombre}}</b>
    </h4>
      <a href="#">{{email}}</a>
  </td>
  <td></td>
  <td>
   <p>
   	<div class="btn-group">
    	<button class="btn btn-info btn-xs btn_asig_modulo" id='{{id}}'>
      	<i class="glyphicon glyphicon-share-alt"></i>Ver</button>
   	</div>
   </p>
  </td>
</tr>