<div class="panel panel-default">
  <div class="panel-heading">
   <label> Area de Trabajo</label>
  </div>
  <div class="panel-body">
   	  <div class="container">
         <div class="col-md-9 col-xs-9">
           <label>Departamento</label> 
           <input type="text" class="form-control" id="txt_departament">
         </div>
         <div class="col-md-3 col-xs-3" style="margin-top: 20px;">
            <button class="btn btn-success btn-block" id="btn_add_depart">Agregar</button>
         </div>
        </div> 	 
  	     <div class="col-md-10">
  	      <table class="table table-hover">
     	    <thead>
   	       <th style="text-align:center;">Departamentos</th> 
           <th>Accion</th>
   	      </thead>
   	    <tbody id="tbody_depart"> 
   	     </tbody>
   	   </table>
        </div>
   </div>     
</div>