<div class="panel panel-default">
  <div class="panel-heading">
   <label> Tipo de servicio</label>
  </div>
  <div class="panel-body">
    <div class="col-md-3">
      <label> Codigo Servicio</label>
      <input type="text" class="form-control" id="inp_cod_servi">
    	<label> Tipo de Servicio</label>
     	<input type="text" class="form-control" id="inp_nomb_servi">
     	<div class="col-md-5 col-md-offset-7" style="margin-top: 15px;">
   	 	 <button class="btn btn-success" id="bnt_add_servi">Agregar</button> 
     	</div>
    </div>
    <div class="col-md-9">
   		<table class="table">
     	  <thead>
      		<th>Id</th>	
       		<th>Evento</th>
     	  </thead>
     	  <tbody id="tbody_servicio">
      	  </tbody>
     		</table> 
    </div>
  </div>	
</div>