      <div class="container-fluid">
				
				
				<div class="col-md-10">
				  <div class="container">
           <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center;"><label > Configuracion de Servicios</label></div> 	
              <div class="panel-body">
  						 <div class="row">
  						  <div class="col-md-5">
  						    <div class="panel panel-default">
  						     <div class="panel-heading" >Agregar Servicios</div>
  						  	 <div class="col-md-12">
  						  	  <div class="form-group">
  						  	    <label>Codigo de Servicio</label>
  						  	  	<input type="text" class="form-control" id="inp_id_servi" placeholder="Codigo Servicio">
  						  	  </div>
  						  	 </div>
  						  	 <div class="col-md-12">
  						  	  <div class="form-group">
  						  	   <label> Nombre de Servicio</label>
  						  	   <input type="text" class="form-control" id="inp_nom_servi" placeholder="Nombre de servicio">
  						  	 	</div>
  						  	 </div>
  						  	 <div class="col-md-offset-9">
  						  	  <button class="btn btn-danger btn-block btn-md" id="btn_add_servi">Agregar Item </button>
  						  	 </div>
  						  	</div>
  						  </div>
  						 	<div class="col-md-7">
  						    <div class="container-fluid">
  						  	  <div class="panel panel-default">
  						  	   <div class="panel-heading"><label>Listado de servicios</label></div>
  						  	   <div class="panel-body">
  						  	   	 <table class="table" style="width:100%">
  						  	   	  <thead>
 									        <td style="text-align: center"> <label>Id Servicio</label></td>
 									        <td style="text-align: center"> <label>Nombre Servicio</label></td>
  						  	   	  </thead>
  						  	   	  <tbody id="list_servi">
  						  	   	  </tbody>
  						  	   	 </table>
  						  	    </div>
  						  	  </div>
  						  	</div>
  						  </div>
  						 </div>
              </div><!--body-->
            </div>
				   </div>
				  </div>
			</div>