<div class="container-fluid">
	<div class="row">
	 <div class="col-md-12">
    <div class="panel panel-default">
     <div class="panel-heading">
       <h4>Contratos</h4>
     </div>
     <div class="panel-body">
      <div class="table-responsive">         
        <table id="mytable" class="table table-bordred table-striped">              
          <thead>       
            <th>Fecha</th>      
            <th>Id Contrato</th>
            <th>Nombre de Cliente</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Contacto</th>
            <th>Estado</th>
            <th>Ver</th>
            <th>Pagos</th>
          </thead>
          <tbody id="tbody_list_contrat">
          </tbody>      
        </table>          
      </div>       
     </div><!--panel body-->
	  </div><!--panel-default-->
   </div><!--col-md-12-->
  </div><!--row-->
</div>

