
<div class="panel panel-default">
 <div class="panel-heading">
  <label>Gestion de finalizado</label>
 </div>
 <div class="panel-body">
   <div class="container-fluid" style="margin-top:20px;">
     <div class="container-fluid">
      <textarea class="form-control" rows="5" id="txt_area_coment" placeholder="Describa el resultado de la instalacion"></textarea>
     </div>
    <div class="container-fluid">
   	 <label>Subir archivos</label>
     <input id="inp_file1" type="file" class="file" name="file[]" data-preview-file-type="text" multiple>
    </div>
   </div>
   <div class="col-xs-12" style="margin-top:20px">
    <div class="container">
     <input type="hidden" id="hidden_id_contrat">
     <a href="#" class="btn btn-success pull-right btn_subir_file">Guardar</a> 
    </div>
   </div>
 </div>
</div>
